@charset "utf-8";

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$fontColor: #524c3e;

body{
    background-color: #f9f8f6;
    }

header{
    h1{
        margin: 0;
        padding-top: 20px;
        text-align: center;
        a{
            display: inline-block;
            #splogo { display:block; }
            #pclogo { display:none; }
            @media (min-width: 550px) {
                #splogo { display:none; }
                #pclogo { display:block; }
            }
        }
    }
    #sp_menue{
        text-align: center;
        margin: 0;
        li{
            list-style: none;
            color: $fontColor;
            display: inline-block;
            font-size: 2.7rem;
            a{
                color: $fontColor;
                margin-right: 10px;
                .fa-instagram{
                    margin-right: 4px;
                }
            }
        }
    }
    @media(max-width:550px){
        #pc_menue{
            .pc_menue_btn{
                display: none;
            }
            .facebook, .instagram{
                display: none;
            }
            background-color: white;
            padding: 13px 15px;
            li{
                list-style: none;
                border-bottom: 1px solid $fontColor;
                padding: 10px;
                margin: 0;
                position: relative;
                padding: 23px;
                a{
                    text-decoration: none;
                    color: $fontColor;
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            li:nth-child(4){
                border-bottom: none;
            }
        }
    } 
    
    @media(min-width: 550px){
        h1{
            text-align: left;
        }
        #sp_menue{
            display: none;
        }
        #pc_menue{
            text-align: right;
            display:block;
            margin: 0;
            padding-top: 10px;
            li{
                margin-right: 12px;
                margin-top: 25px;
                list-style:none;
                display: inline-block;
                
                a{
                    text-decoration: none;
                    color:$fontColor;
                    .sp_menue_btn{
                        display: none;
                    }
                }
                .facebook, .instagram{
                    font-size: 2.5rem;
                }
            }
        }
    }
}

#main_field{
    .list{
        margin-top: 15px;
        background-color: #e8e4da;
        border-radius: 3px;
        color: #887f69;
        padding: 5px;
        margin-bottom: 10px;
        ul{
            margin: 0;
            li{
                font-size: 1.2rem;
                list-style: none;
                display: inline;
                padding: 0 3px 0 3px;
                a{
                    text-decoration: none;
                    color: #887f69;
                }
            }
            li:after{
                content:"/";
                padding-left: 6px;
            }
            li:last-child:after{
                content: none;
            }
        }
    }
    //list
    
    .eye_catch{
        #pc_cate{
            display: none;
        }
        img{
            width: 100%;
            display: block;
            margin-top: 10px;
        }
        @media(min-width:550px){
            #pc_cate{
                display: block;
            }
            #sp_cate{
                display: none;
            }
        }
    }
    
    //eye catch
    
    .new_item{
        h3{
            text-align: center;
            margin: 0;
            margin: 10px;
            #pc_newitem{
                display: none;
            }
        }
        .new_items{
            background-color: white;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .item{
                width: 50%;
                a{
                    border: 1px solid #f9f8f6;
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: black;
                    img{
                        display: block;
                        width: 100%;
                    }
                    p{
                        margin: 0;
                        font-size: 1.3rem;
                        padding-top: 5px;
                    }
                    p.price{
                        font-size: 1.7rem;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    @media(min-width:550px){
        .owl-carousel{
            padding-top: 13px;
        }
        .new_item{
            h3{
                padding: 20px;
                #pc_newitem{
                    display: block;
                    width: 100%;
                }
                #sp_newitem{
                    display: none;
                }
            }
            .new_items{
                .item{
                    width:(100%/3);
                    a{
                        p{
                            line-height: 1.6;
                        }
                        p.price{
                            font-size: 1.5rem;
                            
                        }
                    }
                    a:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    //new items
    
    .popular_item{
        h3{
            text-align: center;
            margin: 0;
            margin: 10px;
            #pc_newitem{
                display: none;
            }
        }
        .popular_items{
            background-color: white;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .item{
                width: 50%;
                a{
                    border: 1px solid #f9f8f6;
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: black;
                    img{
                        display: block;
                        width: 100%;
                    }
                    p{
                        margin: 0;
                        font-size: 1.3rem;
                        padding-top: 5px;
                    }
                    p.price{
                        font-size: 1.7rem;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    @media(min-width:550px){

        .popular_item{
            h3{
                padding: 20px;
                #pc_popularitem{
                    display: block;
                    width: 100%;
                }
                #sp_popularitem{
                    display: none;
                }
            }
            .popular_items{
                .item{
                    width:(100%/3);
                    a{
                        p{
                            line-height: 1.6;
                        }
                        p.price{
                            font-size: 1.5rem;
                            
                        }
                    }
                    a:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    //popular item
    
    .cate_item{
        margin-top: 10px;
        .cate_items{
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .item{
                background-color: white;
                width: 50%;
                a{
                    border: 1px solid #f9f8f6;
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: black;
                    img{
                        display: block;
                        width: 100%;
                    }
                    p{
                        margin: 0;
                        font-size: 1.3rem;
                        padding-top: 5px;
                    }
                    p.price{
                        font-size: 1.7rem;
                        font-weight: lighter;
                    }
                }
            }
        }
        .btns{
            margin-top: 15px;
            width: 100%;
            .btns::after{
                display: block;
                content: "."; 
                clear: both;
            }
            a{
                text-decoration: none;
                color: white;
                background-color: #887f69;
                padding: 8px 35px;
                display: inline-block;
            }
            a:hover{
                background-color: lighten(#887f69, 15%);
            }
            a.next{
                float: right;

            }
            a.back{
                float: left;
            }
        }
    }
    @media(min-width:550px){
        .cate_item{
            .cate_items{
                .item{
                    width:(100%/3);
                    a{
                        p{
                            line-height: 1.6;
                        }
                        p.price{
                            font-size: 1.5rem;
                            
                        }
                    }
                    a:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    //cate_item
    
    .item_detail{
        background-color: white;
        padding: 30px;
        @media(max-width: 550px){
            padding: 10;
        }
        h3{
            font-size: 1.5rem;
            letter-spacing: 3px;
            font-weight: bold;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e3e8cf;
            span{
                font-weight: normal;
                font-size: 1.3rem;
                color: #a6a6a6;
                letter-spacing: 0px;
                float: right;
            }
            h3::after{
                clear: both;
                display: block;
                content: ".";
            }
        }
        .slide{
            padding-top: 20px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e3e8cf;
            
            .clear{
                clear:both;
            }
            #display_img{
                width: 72%;
                float: left;
                padding-right: 8px;
                box-sizing: border-box;
                img{
                    width: 100%;
                }
            }
            ul{
                width: 28%;
                float: right;
                margin: 0;
                li{
                    box-sizing: border-box;
                    padding-right: 7px;
                    margin:0;
                    width: 48%;
                    float: left;
                    display: inline-block;
                    list-style: none;
                    img{
                        width: 100%;
                        
                    }
                }
                li.point{
                    cursor: pointer;
                }
            }
            @media(max-width: 550px){
                #display_img{
                    width: 100%;
                }
                ul{
                    clear: both;
                    width: 100%;
                    li{
                        width: 20%;
                    }
                }
            }
        }
        .cart_box{
            @media(min-width: 550px){
                border-bottom: 1px solid #e3e8cf;
            }
            
            h4{
                margin-bottom: 10px;
            }
            table{
                color:#887f69;
                border-collapse: collapse;
                font-size: 1.2rem;
                width: 100%;
                
                th{
                    border: 1px solid #e3e8cf;
                    background-color: #f9f9f5;
                    padding: 10px 40px;
                    text-align: center;
                }
                td{
                    border: 1px solid #e3e8cf;
                    padding: 10px 40px;
                    text-align: center;
                    vertical-align: middle;
                    input{
                        display: block;
                        margin: auto;
                    }
                }
                @media(max-width:550px){
                    th{
                        padding: 10px 0;
                    }
                    td{
                        padding: 0;
                    }
                }
            }
            .price_quantity{
                .price{
                    padding: 10px;
                    border-top: 1px solid #e3e8cf;
                    border-bottom: 1px solid #e3e8cf;
                    h4{
                        display: inline-block;
                        padding-right: 50px;
                    }
                    .price_wrap{
                        display: inline-block;
                        strong{
                            color: #e80f66;
                            font-style: italic;
                            font-weight: lighter;
                            font-size: 2.4rem;
                            span{
                                font-size:1.7rem;
                            }
                        }
                    }
                }
                .quantity{
                    padding: 10px;
                    padding-top: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e3e8cf;
                    h4{
                        display: inline-block;
                        float: left;
                        padding-right: 20px;
                    }
                    .quantity_wrap{
                        
                        margin-bottom: -30px;
                        input{
                            display: inline-block;
                            
                            
                        }
                    }
                    .quantity_wrap::after{
                        clear:both;
                        display:block;
                        content:".";
                        color: white;
                    }
                }
            }
            .cart{
                 text-align: center;
                img{
                    display: inline-block;
                    margin-bottom: 15px;
                }
            }
            @media(min-width: 550px){
                .price_quantity{
                    float: left;
                    width: 60%;
                    .price{
                        h4{
                            padding-right: 80px;
                        }
                        
                    }
                    .quantity{
                        border-bottom: none;
                        margin-bottom: 0;
                        h4{
                            padding-right: 60px;
                        }
                        .quantity_wrap{
                            input{
                                float: left;
                            }
                        }
                    }
                }
                .cart{
                    float: right;
                }
                .clear{
                    clear: both;
                }
            }
        }
        //cart_box
        
        .explanation{
            h4{
                margin-top: 10px;
                padding-bottom: 10px;
                font-size: 1.8rem;
                font-weight: bold;
                border-bottom: 1px solid #887f69;
                color: #887f69;
                margin-bottom: 10px;
            }
            h5{
                color: #887f69;
                margin-bottom:10px;
            }
            table{
                color:#887f69;
                border-collapse: collapse;
                width: 100%;
                margin-bottom: 10px;
                th{
                    border: 1px solid #e3e8cf;
                    background-color: #f9f9f5;
                    padding: 10px;
                    font-weight: normal;
                    white-space: nowrap;
                    font-size: 1.3rem;
                    text-align: center;
                }
                td{
                    border: 1px solid #e3e8cf;
                    padding: 10px;
                    font-size: 1.2rem;
                    text-align: left;
                    color: black;
                }
            }
            @media(min-width:550px){
                h4{
                    padding: 20px 0 10px 0;
                    padding-bottom: 10px;
                    font-weight: normal;
                }
                h5{
                    font-size: 2rem;
                    padding-top: 10px;
                }
            }
        }
    }
    //item detail
    
    .recent_item{
        h3{
            text-align: center;
            margin: 0;
            margin: 10px;
            #recent_pc{
                display: none;
            }
        }
        .recent_items{
            
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .item{
                width: 50%;
                a{
                    background-color: white;
                    border: 1px solid #f9f8f6;
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    color: black;
                    img{
                        display: block;
                        width: 100%;
                    }
                    p{
                        margin: 0;
                        font-size: 1.3rem;
                        padding-top: 5px;
                    }
                    p.price{
                        font-size: 1.7rem;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    @media(min-width:550px){
        .recent_item{
            h3{
                padding: 20px;
                #recent_pc{
                    display: block;
                    width: 100%;
                }
                #recent_sp{
                    display: none;
                }
            }
            .recent_items{
                .item{
                    width:(100%/3);
                    a{
                        p{
                            line-height: 1.6;
                        }
                        p.price{
                            font-size: 1.5rem;
                            
                        }
                    }
                    a:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
    }
    //recent item
    
    
    .shopping_guide{
        h3{
            padding: 10px;
            text-align: center;
            margin: 0;
            #pc_guide{
                display: none;
            }
        }
        .shopping_guide_box{
            .otodoke, .kessai{
                background-color: white;
                padding: 20px;
                margin-bottom: 15px;
                color: #887f69;
                box-sizing: border-box;
                h4{
                    margin: 5px;
                    font-size: 2rem;
                }
                img{
                    display: block;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                img.cards{
                    width: 100%;
                }
                h5{
                    font-size: 1.8rem;
                    margin: 0;
                }
                p{
                    font-size: 1.5rem;
                    padding: 6px;
                    margin: 0;
                    color: black;
                }
            }
        }
        @media(min-width:550px){
            h3{
                padding: 30px;
                #sp_guide{
                    display: none;
                }
                #pc_guide{
                    display: block;
                    width: 100%;
                }
            }
            .shopping_guide_box{
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                flex-direction: row;
                justify-content: space-between;
                .otodoke, .kessai{
                    padding: 15px;
                    width: 50%;
                    h4{
                        font-size: 1.6rem;
                        font-weight: bold;
                    }
                    h5{
                        font-size: 1.4rem;
                        font-weight: bold;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                }
                .otodoke{
                    margin-right: 5px;
                }
            }
        }
    }
}
//main field

footer{
    text-align: center;
    .to_top{
        img{
            margin-bottom: 15px;
            margin-top: 35px;
        }
    }

    a{
        text-decoration: none;
        color: $fontColor
    }
    a:hover{
        color: $fontColor;
    }
    ul{
        border-top: 1px solid lighten($fontColor, 50%);
        padding-top: 20px;
        li{
            display: block;
            font-size: 1.2rem;
        }
    }
    small{
        color: lighten($fontColor, 40%);
    }
    @media(min-width:550px){
        .to_top{
            img{
                display: block;
                margin-left: auto;
            }
            
        }
        ul{
            li{
                display: inline-block;
                margin-right: 18px;
                padding-right: 30px;
                font-size: 1.2rem;
                border-right: 1px solid lighten($fontColor, 25%);
            }
            li:last-child{
                border-right: none;
            }
        }
    }
}
//footer

#sub_field{
    @media(max-width:550px){
        padding-top: 0;
    }
    padding-top: 13px;
    .search_box{
        form{
            box-sizing: border-box;
            background-color: white;
            padding: 14px 17px 17px 17px;
            margin-bottom: 0;
            
            p{
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
            }
            dl.search{
                position:relative;
                background-color:#eeeeee;
                margin: 0;
                dt input{
                    width:100%;
                    line-height:24px;
                    background:none;
                    border:none;
                    margin: 0;
                    padding: 0;
                    font-size: 1.3rem;
                    padding-left: 5px;
                }
                dd{
                    position:absolute;
                    top:0;
                    right:0;
                    button{
                        display:block;
                        padding:10px;
                        background:none;
                        border:none;
                        span{
                            display:block;
                            width:20px;
                            height:20px;
                            background:url('../images/top/search_icon.png') no-repeat scroll 0 0;
                        }
                    }
                }
            }
        }
        @media(max-width:550px){
            p{
                display: none;
            }
        }
    }
    //search_box
    
    .link_menu{
        .page_link{
            margin-bottom: 10px;
            margin-top: 10px;
            cursor: pointer;
            .open{
                
            }
            h4{
                background-color: #887f69;
                margin: 0;
                font-size: 1.4rem;
                color: white;
                padding: 17px 10px;
                span{
                    background-image: url('../images/top/next_icon.png');
                    background-repeat: no-repeat;
                    background-position: right;
                    display: block;
                }
                span.open{
                        background-image: url('../images/top/down_icon.png');
                        background-repeat: no-repeat;
                        background-position: right;
                        display: block;
                }
            }
                h4:hover{
                    background-color: lighten(#887f69,15%);
                }
            
            ul{
                display: none;
                list-style: none;
                li{
                    background-color: #ffffff;
                    margin: 0;
                    margin-bottom: 1px;
                    font-size: 1.4rem;
                    background-image: url('../images/top/next_icon_gray.png');
                    background-repeat: no-repeat;
                    background-position: 95% center;
                    a{
                        padding: 13px 6px;
                        display: block;
                        text-decoration: none;
                        color: #887f69;
                    }
                    @media(min-width:550px){
                        a:hover{
                            background-color: darken(white, 5%);
                            background-image: url('../images/top/next_icon_gray.png');
                            background-repeat: no-repeat;
                            background-position: 95% center;
                        }
                    }
                }
            }
        }
    }
    //link_menu
    
    .categories{
        .category{
            cursor: pointer;
            margin-bottom: 10px;
            margin-top: 10px;
            h4{
                background-color: #887f69;
                margin: 0;
                font-size: 1.4rem;
                color: white;
                padding: 17px 10px;
                span{
                    background-image: url('../images/top/next_icon.png');
                    background-repeat: no-repeat;
                    background-position: right;
                    display: block;
                }
                span.open{
                        background-image: url('../images/top/down_icon.png');
                        background-repeat: no-repeat;
                        background-position: right;
                        display: block;
                }
            }
                h4:hover{
                    background-color: lighten(#887f69,15%);
                }
            
            ul{
                display: none;
                list-style: none;
                li{
                    background-color: #ffffff;
                    margin: 0;
                    margin-bottom: 1px;
                    font-size: 1.4rem;
                    background-image: url('../images/top/next_icon_gray.png');
                    background-repeat: no-repeat;
                    background-position: 95% center;
                    a{
                        padding: 13px 6px;
                        display: block;
                        text-decoration: none;
                        color: #887f69;
                    }
                    @media(min-width:550px){
                        a:hover{
                            background-color: darken(white, 5%);
                            background-image: url('../images/top/next_icon_gray.png');
                            background-repeat: no-repeat;
                            background-position: 95% center;
                        }
                    }
                }
            }
        }
    }
    //categories
    
    .about{
        margin-bottom: 10px;
        h4{
            background-color: #887f69;
            margin: 0;
            font-size: 1.4rem;
            color: white;
            padding: 17px 10px;
        }
        .about_contents{
            background-color: white;
            padding: 10px;
            .about_img{
                img{
                    display: block;
                    width: 100%;
                    position: center;
                }
            }
            .about_text{
                p{
                    padding-top: 8px;
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }
                a{
                    display: block;
                    text-align: center;
                    margin: 10px;
                }
            }
        }
        @media(max-width: 550px){
            .about_contents{
                .about_img{
                    float: left;
                    width: 40%;
                }
                .about_text{
                    float: right;
                    width: 60%;
                    box-sizing: border-box;
                    padding: 0 10px 0 10px;
                    p{
                        padding: 0;
                    }
                    a{
                        text-align: left;
                        margin: 5px 0 0 0;
                    }
                }
            }
            
            .clear{
                clear: both;
            }
        }
    }
}
    
    